PYTHON-10. Введение в Pandas
PYTHON-10(11,12). Введение в Pandas
PYTHON-13. Визуализация данных
PYTHON-14. Очистка данных
PYTHON-15. ООП
PYTHON - 16
PYTHON - 17 API
PROJECT-1. Анализ резюме из HeadHunter/Data
SQL - Pract/sql_7_pract.ipynb